<section>
  <div>
    <h1 class="text-xl md:text-2xl lg:text-3xl 2xl:text-4xl font-bold text-center">
      Choose the perfect plan for your agency
    </h1>
    <div x-data="{ checked: true }">
      <button type="button" role="switch" tabindex="0" :aria-checked="checked"
        class="relative inline-flex flex-shrink-0 h-[38px] w-[74px] border-2 rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 border-blue-700"
        @click="checked = ! checked">
        <span aria-hidden="true" :class="{ 'translate-x-9': checked }"
          class="pointer-events-none inline-block h-[34px] w-[34px] rounded-full bg-blue-700 shadow-lg transform ring-0 transition ease-in-out duration-200"></span>
      </button>
    </div>
  </div>
</section>