<header class=" bg-white py-4 xl:py-6 xl:shadow-none z-50">
    <div class="container flex justify-between">
      <a class="brand" href="/">
        <img src="assets/images/logos/agentcis.png" alt="Agentcis" class="w-36 xl:w-auto">
      </a>
      <nav class="hidden lg:flex">
        <div class="ag-nav-primary flex-1 flex items-center">
          
        </div>
        <div class="flex">          
          <div>
            <a class="block ml-3.5 text-white py-3 px-7 btn-primary">
              Pricing
            </a>
          </div>
        </div>
      </nav>     
    </div>
  </header>